@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
}

section {
  margin: 0;
}

img {
  width: 100px;
  display: block;
  margin-left: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: .875rem;
  margin-left: -30px;
  margin-bottom: -10px;
}

h3 {
  font-style: italic;
  font-weight: normal;
  font-size: .875rem;
  margin-left: -30px;
  margin-bottom: -25px;
}

.quest {
  float: left;
  width: 25%;
  background-color: #e2e2e2;
  padding: 0 0 1.5rem;
}

.dinosaur {
  float: left;
  width: 25%;
  background-color: #ccc;
  padding: 0 0 1.5rem;
}

.black {
  float: left;
  width: 25%;
  background-color: #aaa;
  padding: 0 0 1.5rem;
}

.light {
  float: left;
  width: 25%;
  background-color: #999;
  padding: 0 0 1.5rem;
}

p {
  padding: .75rem;
  margin-left: -40px;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  padding: .5rem;
  margin-left: 20px;
  font-size: .875rem;
}

.btn-small {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  padding: .5rem;
  margin-left: 20px;
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
}
